<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- bootstrap load -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>데이터 입력이 완료되었습니다.</h1>
    <div>
        <a href="http://127.0.0.1:8000/nexon/viewCubeInfo/">화면이동</a>
    </div>
    <div>{{date}}의 {{count}}개 데이터가 INSERT 되었습니다.</div>
</body>
</html>